html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(110, 110, 91);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    border: 7px;
}
#news-list li {
    font-size: 30px; 
    color: #db9a59;
    margin-bottom: 10px; 
    -webkit-text-stroke: 1px #000000;
}
ul{
    list-style: none;
    padding:1;
    flex-wrap: wrap;
      
}

ul li{
    background-color:#000000;
    padding:15px;
    box-shadow: 0px 1px 1px #db9a59;
    border-radius: 10px;
    flex-grow: 1;
}

img {
    width: 320px;
    margin: 0 auto;
    border-radius: 8px;
}

.micro-5-regular {
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
}

input, button {
    border: 0;
    padding: 20px;
    border-radius: 8px;
    font-size: 30px;
    text-align: center;
    color: #e6cf80;
    background-color: rgb(12, 13, 26);
    margin-top: 10px;
    -webkit-text-stroke: 1px #000000;
}

button {
    color: #db9a59;
}

.outer-border {
    border: 2px solid #DE9B72;
    min-height: 100vh; /* Adjust height to cover the entire viewport */
    width: 100vw; /* Adjust width to cover the entire viewport */
    margin: 0; /* Remove auto margin */
    padding: 3px; /* Remove padding */
    position: relative;
}

.mid-border {
    border: 6px solid #DE9B72;
    height: calc(100% - 12px); /* Adjust height to account for border width */
    width: calc(100% - 12px); /* Adjust width to account for border width */
    margin: auto;
}

.inner-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 2px solid #DE9B72;
    height: calc(100% - 6px); /* Adjust to account for margin and border */
    width: calc(100% - 6px); /* Adjust to account for margin and border */
    margin: 3px;
    padding: 6px; /* Add padding */
    box-sizing: border-box; /* Ensure padding is included in width */
}



.corner-decoration {
    position: fixed;
    
}

.fort-drawing {
    mix-blend-mode: multiply;
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 70px;
    margin-bottom: auto;
    color: #db9a59;
    position: relative; 
    -webkit-text-stroke: 1px #000000;
}

.vertical-decoration,
.corner-decoration
 {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 15em;
   
    
}
.corner-decoration{
     float: right;
}
.corner-decoration.corner-left-top {
    width: 13%;
    left: -87%;
    top: 0px;
    
}

.corner-decoration.corner-right-top {
    width: 13%;
    top: 0px;
    right: -87%;
    transform: rotate(90deg);
}

.corner-decoration.corner-right-bottom {
    width: 13%;
    right:-87%;
    bottom: 0px;
    transform: rotate(180deg);
}

.corner-decoration.corner-left-bottom {
    width: 13%;
    bottom: 0px;
    left: -87%;
    transform: rotate(-90deg);
}

.vertical-decoration.top {
    top: 0;
    width:45%;
}

.vertical-decoration.bottom {
    bottom: 0px;
    margin-top: 30px; /* Add some spacing */
    transform: rotate(180deg);
    width:200px;
}

.dark-background {
    background: var(--dark-color);
    display: flex;
    margin: 0;
    border: 0;
    flex-wrap: wrap;
}
